body {
            font-family: Arial, sans-serif;
        }

        .level-box {
    border: 1px solid #aaa;
    padding: 10px;
    margin: 15px 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.8s ease;
}

/* Container oben fixieren */
#top-container {
    position: sticky; /* oder fixed, je nach gewünschtem Verhalten */
    top: 0; /* immer am oberen Rand */
    background: rgb(166, 166, 164);
    padding: 10px;
    z-index: 1000; /* oben halten */
    box-shadow: 0 4px 5px rgba(0,0,0,0.1);
}

.level-box.visible {
    opacity: 1;
}

.new-resolvent {
    color: green;
    font-weight: bold;
    margin-top: 10px;
}

.clauses {
    color: #0033cc;
    font-weight: bold;
    margin-bottom: 40px;
}

.clause.highlight {
    background-color: yellow;
    font-weight: bold;
    border-radius: 4px;
    padding: 2px 4px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25); /* leichter Schatten */
    transition: background-color 0.3s, box-shadow 0.3s, transform 0.2s;
}

.level-box {
    position: relative;
}

.arrow-svg {
    stroke: black;
}




.no-new {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

.step {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.step.visible {
    opacity: 1;
}

.btn {
    display: inline-block; 
    margin-top: 20px;
    padding: 10px 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.btn:disabled {
    background: gray;
    cursor: not-allowed;
}

.btn:hover:enabled {
    background: #0056b3; /* etwas dunkler beim Hover */
}


.step.cut_new {
    color: green;
    font-weight: bold;
}

.step.no_cut {
    color: orange;
    font-style: italic;
}

.step.cut_known {
    color: gray;
    font-style: italic;
}

